.message {
    display: inline-flex;
    align-self: flex-start;
    align-items: flex-end;
    position: relative;
    max-width: 60%;
}
.message:not(:first-child) {
    margin-top: 25px;
}
.own-message {
    padding: 15px;
    display: inline-block;
    align-self: flex-end;
    max-width: 60%;
}
.message-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
    flex-shrink: 0;
}
.message-info {
    font-size: 0.875rem;
    margin-bottom: 10px;
    color: #666666;
}
.message-text {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px 10px 10px 0;
}
.own-message-text {
    padding: 15px;
    background-color: #cfd3e4;
    border-radius: 10px 10px 0 10px;
}
button {
    border: none;
}
button:hover {
    cursor: pointer;
}
.message-like {
    position: absolute;
    bottom: -11px;
    right: 3px;
    background-color: #f0cde7;
    width: 40px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.message-liked {
    position: absolute;
    bottom: -11px;
    right: 3px;
    background-color: #f491da;
    width: 40px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.own-message-buttons {
    text-align: right;
    margin-top: 5px;
}
.own-message-buttons button {
    display: inline-block;
    background-color: transparent;
    color: #888;
    transition: all 0.5s ease;
}
.message-edit {
    margin-right: 10px;
}
.message-edit:hover {
    color: #333;
}
.message-delete:hover {
    color: #9d0505;
}
input {
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 15px;
    transition: all 0.5s ease;
}

input:focus {
    outline: none;
    border: 1px solid #bee8e1;
    box-shadow: 0px 0px 8px -4px #bee8e1 inset;
}